@import url("https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Roboto:wght@300;400;500;700;900&display=swap");

body {
  font-family: "Roboto serif", sans-serif;
  font-weight: normal;
  font-style: normal;
  scroll-behavior: smooth;
}

.main {
  width: 100%;
  background-color: #360000;
  color: white;
  text-align: center;
  font-size: 14px;
}

i:hover {
  transform: rotatey(180deg);
  transition: 0.4s;
}

.nav-btn {
  border: none;
}

.btn1 {
  border: 1px solid #b90000;
  color: #b90000;
  background-color: transparent;
}

.btn1:hover {
  /* border:  none; */
  color: white;
  transition: ease-in 0.3s;
  background-color: #b90000;
}

.nav-link:hover {
  border: none;
  border-bottom: 2px solid #b90000;
  color: white;
}

.nav-link {
  font-size: 16px;
}

.bg-img-sec-1 {
  position: relative;
  height: 85vh;
  background-image: url(img/Section-1.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.bg-img-sec-1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.9),
    rgba(170, 1, 1, 0.2),
    rgba(0, 0, 0, 0.9),
    rgba(112, 82, 82, 0)
  );
  z-index: 1;
}

.sec-1-content {
  position: relative;
  z-index: 2;
}

.sec-1-content h1 {
  font-size: 70px;
  font-family: "Roboto Serif", serif;
  font-weight: 300;
}

.sec-1-content p {
  font-size: 21px;
  font-family: "Roboto serif";
  font-weight: 200;
}

.sec-1-btn {
  border: none;
  background-color: #b40000;
}

.about-content .content h1 p span {
  font-family: "Roboto serif", sans-serif;
}

.about-sec-3 h1 {
  font-size: 45px;
  font-weight: 400;
}

.btn2 {
  border-radius: 5px;
  border: none;
  color: white;
  background-color: orangered;
}

.btn3 {
  border: none;
  color: white;
  background-color: #b40000;
}

.Content h5 {
  color: #b40000;
}

.Content h4 {
  color: #360000;
}

.Content p {
  font-weight: 100;
  color: gray;
}

